#newpasscontainer{
    position: fixed;
    top:9%;
    left: 0;
    height: 100%;
    width: 100%;
    background:url('https://images.unsplash.com/photo-1494459940152-1e911caa8cc5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHN1bnJpc2V8ZW58MHx8MHx8fDA%3D');
    background-repeat: no-repeat;
    background-size: cover;
   
   
    z-index: 4;
}
#newpasscontainer form{
    
    background-color: white;
    box-shadow: 0px 0px 4px;
    width: 35%;
    border-radius: 10px;
    height: 50%;
    margin-left: 30%;
    margin-top:10%;
    padding: 20px;

}

#error{
    position: fixed;
    padding: 9px;
    top:11%;
    left: 73%;
    color:white;
    font-weight: bold;
    font-size: 23px;
    border-radius: 5px;
    width: 25%;
    box-shadow: 0px 0px 2px white;
    animation: adjustShifting 0.3s ease-in-out forwards;
    height: max-content;
    background-color: rgb(95, 213, 95) ;
}
@keyframes adjustShifting{
    0%{
       
        transform:translateY(0px)
    }
    100%{
        transform: translateY(30px);
       
    }
}
#newpasscontainer form input,#newpasscontainer form button{
    width: 70%;
    margin-left: 15%;
}
@media (max-width:400px){
    #newpasscontainer form{
        width: 80%;
        margin-left: 10%;
        margin-top: 25%;
    }
    #error{
        width: 50%;
        font-size: 14px;
        left: 50%;
        margin-top:-10%;
        
    }
   
}
@media (max-width:600px){
    #newpasscontainer form{
        width: 80%;
        margin-left: 10%;
        margin-top: 25%;
    }
    #error{
        width: 50%;
        font-size: 14px;
        left: 50%;
        margin-top:-7%;
        
    }
   
}
@media (max-width:992px){
    #newpasscontainer form{
        width: 55%;
        height:55%;
      
        margin-left: 20%;
        margin-top: 15%;
    }
    #error{
        width: 30%;
        font-size: 14px;
        left: 67%;
        margin-top:-2%;
        
    }
    

}
@media(max-width:1280px){
#newpasscontainer form{
    width: 55%;
    height:55%;
  
    margin-left: 20%;
    margin-top: 15%;
}
#error{
    width: 30%;
    font-size: 14px;
    left: 70%;
    margin-top:-2%;
    
}


}

